.nombre{
    display: flex;
    margin-left: 20px;
}

.detail {
    
    display: flex;
    
}

.foto {
    display: flex;
}

.descripcion{

    margin-right: 12px;
}

.parteIzquierda{
    width: 472px;
}

.panelDerecha{
    margin-top: 100px;
    width: 400px;
    height: 310px;
    background-color: gray;
}